{% sw_extends '@Storefront/storefront/element/cms-element-category-navigation.html.twig' %}






{% block element_category_navigation %}


{% set navigation = element.data.tree %}

{% set navigationMaxDepth = context.salesChannel.navigationCategoryDepth %}

<span class="twt-subcategory-navigation-depth" data-depth="{{ navigationMaxDepth }}"></span>

    <div class="cms-element-{{ element.type }}">
        {% block element_category_navigation_element %}
            <div class="category-navigation-box testing now">
                {% block element_category_navigation_box %}
                    {% if navigation and block.sectionPosition == 'sidebar' and twtCategoryNavigationHeadlineShow == 2 %}
                        <div class="twt-cms-element-sidebar-headline d-none d-lg-block is--navigation">
                            {{ 'twt.listing.navigation.title'|trans }}
                        </div>
                    {% endif %}

                    {% sw_include '@Storefront/storefront/layout/sidebar/category-navigation.html.twig' with {
                        navigationTree: navigation
                    } only %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
