<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic Configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <component name="sw-entity-multi-id-select">
            <name>paymentMethodIds</name>
            <entity>payment_method</entity>
            <label>Select payment methods to show warranty claim checkbox</label>
            <label lang="de-DE">Zahlungsarten auswählen, für die das Gewährleistungsanspruchs-Checkbox angezeigt werden soll</label>
        </component>
    </card>
</config>