<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic Configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <component name="sw-text-field">
            <name>warrentyClaimPaymentTechnicalName</name>
            <label>Technical name of the payment method for warranty claims</label>
            <label lang="de-DE">Technische Benennung der Zahlungsart für Gewährleistungsansprüche</label>
            <helpText>The technical name can be found in the payment method details.</helpText>
            <helpText lang="de-DE">Der technische Name ist in den Details der Zahlungsmethode zu finden.</helpText>
        </component>
    </card>
</config>