<div class="hotspot--container{% if hotspot.coordX <= 1 and hotspot.coordY <= 1 %} d-none{% endif %}" data-id="{{ hotspot.id }}">
    <div class="hotspot"
       data-coords-x="{{ hotspot.coordX }}"
       data-coords-y="{{ hotspot.coordY }}"></div>
</div>